/* body {background: #ffffff url(http://pcvector.net/templates/pcv/images/bg_grid.png);} */

.topnav {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 40px 28px 25px 0;
    width: 213px;
}
ul.topnav {
    font-size: 1em;
    line-height: 0.5em;
    list-style: none outside none;
    margin: 0;
    padding: 0;
	border-top: 1px solid black;
	/*border-bottom: 1px solid #000148;*/
}
ul.topnav li {
}
ul.topnav li a {
    color: black; /* #000; */
    display: block;
    font-size: 12px;
    /* font-weight: bolder; */
    line-height: 10px;
    padding: 14px 5px;
    text-decoration: none;
    background: white; /*#f2f2f2;*/
/*	border-top: 1px solid #eeeeee;*/
	border-bottom: 1px solid black;
}
ul.topnav li a:hover {
    background-color: #f4f4f4;
    font-weight: bold;
}
ul.topnav ul {
    display: none;
    margin: 0;
    padding: 0;
}
ul.topnav ul li {
    clear: both;
    margin: 0;
    padding: 0;
	list-style-type: none;
}
ul.topnav ul li a {
    font-size: 11px;
    /* font-weight: normal; */
    outline: 0 none;
    padding-left: 20px;
	 background: #fcfaf3;
}
ul.topnav ul li a:hover {
    background-color: #f4f4f4;
    color: black;
}
ul.topnav ul ul li a {
    color: #3c3434;
    padding-left: 40px;
    font-weight: 600;
}
ul.topnav ul ul li a:hover {
    background-color: rgb(0, 56, 103);
    color: white;
}
ul.topnav span {
    float: right;
}