/*              */
body {
	//background: #ededed none;
    background: url(images/fon.png) no-repeat 50% 0;
	-moz-background-size: auto; /* Firefox 3.6+ */
    -webkit-background-size: auto; /* Safari 3.1+   Chrome 4.0+ */
    -o-background-size: auto; /* Opera 9.6+ */
    background-size: auto; /*                      */
   
}
/*                                                */
table.bordur {
	border-collapse: collapse;
}
.bordur td {
	border: 1px solid gray;
	background: #FFFAF0;
}
.bordur th {
	border: 1px solid black;
	background: #B5B5B5;
}
hr {
display: none;
/*	background: url(images/hr.png) no-repeat center;
	height: 28px;
	border:none !important;
   -moz-background-size: 100%; 
   -webkit-background-size: 100%; 
   -o-background-size: 100%; 
   background-size: 100%; */
}
table.zmview{
	border-collapse: collapse;
/*	border: 1px solid gray;*/
}
.zmview td{
	border: 1px solid #c5c5c5;
	font: 12px;
	background: white; /*#FFFAF0;*/
}
.zmview th{
	border: 1px solid white;
	background: #a7c2f4;
  /*  background: -moz-linear-gradient(bottom, black 0%, black 50%, black 51%,#f2f2f2 100%);
    background: -webkit-linear-gradient(bottom, black 0%,black 50%,black 51%,#f2f2f2 100%);
    background: -o-linear-gradient(bottom, black 0%,black 50%,black1 51%,#f2f2f2 100%);
    background: -ms-linear-gradient(bottom, black 0%,black 50%,black 51%,#f2f2f2 100%);
    background: linear-gradient(bottom, black 0%,black 50%,black 51%,#f2f2f2 100%);*/
	color: black;
}
.zmview tr.alt td {
    background: #f0f0f0;
}
.zmview tr.over td {
background: #ffe860;
    }
table.view2{
	border-collapse: collapse;
	border: 1px solid gray;
}
.view2 td{
	border: 1px solid gray;
	background-color: #FFFAF0;
	font: 14px;
}
.view2 th{
	border: 1px solid black;
	background-color: #B5B5B5;
}
td.men{
	width: 160px;
	vertical-align: top;
}
td.fn{
	vertical-align: top;
}
.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}
.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}
.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}
.ac_results li {
	position:relative;
    margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}
.ac_loading {
	background : Window url('gif/indicator.gif') right center no-repeat;
}
.ac_over {
	background-color: Highlight;
	color: HighlightText;
}
#zapol {
  top:10px;
  width:100px;
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
#zapoly {
  top:10px;
  width:100px;
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
.qnt {
  position:absolute;
  top:2px;
  right:10px;
  font-size:0.8em;
 // color:#26A908;
}
select.sel_ad{
  width: 200px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 10pt;
  color: #000;
}
#add_nas_punkt{
	position: absolute;
	background-color: #ffee8c;
	left: 840px;
	top: 90px;
	width: 250px;
	height: 200px;
	border: 1px solid #999999;
	padding: 8px 25px;
	font: 12px;
	display: none;
}
#add_vul{
	position: absolute;
	background-color: #ffee8c;
	left: 840px;
	top: 90px;
	width: 250px;
	height: 250px;
	border: 1px solid #999999;
	padding: 8px 25px;
	font: 12px;
	display: none;
}
#zal a, a.text-link{
	display:block;
	text-decoration: none;
	color: black;
	padding: 0px 5px 0px 5px;
}
td#zal a:hover, a.text-link:hover{
	display:block;
	background: #c1c1c1;
	padding: 0px 5px 0px 5px;
	background-repeat:repeat;
}
.gran{
	vertical-align: top;
	//background: #FFFFFF; //ButtonFace;
	//opacity: 0.6;
}
#adr_el_arh{
	width: 100%;
	border: 0;
	font-size: 12px;
	color: red;
	background: lightyellow;
}

a.text-link:hover{
	color: #fff;
	background: #a7c2f4;
}
table.statistic{
	border-collapse: collapse;
}
.statistic td{
	border: 1px solid black;
	font-size: 10px;
	background: white;
}
.statistic th{
	border: 1px solid black;
	background: white;
	color: black;
	font-size: 12px;
}
.statistic tr.alt td {
	background: #f0f0f0;
}
.statistic tr.over td {
	background: #ffe860;
}
.add_to_arh{
	float:left;
	width:7px;
	height:17px;
	background-image: url(http://ibti.pp.ua/images/arhiv.png);
	background-size: contain; 
	margin-right:3px;
}
.back_zm{
	float:left;
	width:7px;
	height:17px;
	background-image: url(images/dl.png);
	background-size: contain; 
	margin-right:3px;

}
.edit_zm{
	float:left;
	width:7px;
	height:17px;
	background-image: url(images/pan.png);
	background-size: contain; 
	margin-right:3px;
}
.status-link{
	padding: 0 10px;
}
.status-link:hover{
	cursor: pointer;
}
.fixtable-fixed {
	position: fixed;
	top: 0;
	z-index: 101;
	background-color: #a7c2f4;
	border-bottom: 1px solid #ddd;
}

.win_edit{
	display:none; 
	position:fixed; 
	width:100%; 
	height:100%; 
	background:#000;  
	background: rgba(102, 102, 102, 0.5); 
	left:0; 
	top:0;
}
.inner_win_edit{
	height:95px; 
	width:200px; 
	margin: 35px auto; 
	background:#FFF; 
	padding:7px;
	border-radius:5px;
}

.inner_win_edit select{
	margin-bottom: 5px;
	width:100%;
}

.inner_win_edit input{
	margin-bottom:5px;
}
.text_win{
	width:100%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.conteiner_list{
	width:30%;
	float:left;
	padding:25px;
}
.edit_img{
	width:15px;
	height:15px;
	background-image: url(http://ibti.pp.ua/images/edit.png);  
	background-size: cover; 
	margin: 0 5px; 
	float:left; 
	cursor:pointer;
}
.save_img{
	width:15px;
	height:15px;
	background-image: url(http://ibti.pp.ua/images/save.gif);  
	background-size: cover; 
	margin: 0 5px; 
	float:left; 
	cursor:pointer;
}

