/*Установка фона*/
body {
	//background: #ededed none;
    background: url(images/fon.png) no-repeat 50% 0%;
	-moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
   
}
/*Создаем класс в котором делаем рамку для таблицы*/
table.bordur {
	border-collapse: collapse;
}
.bordur td {
	border: 1px solid gray;
	background: #FFFAF0;
}
.bordur th {
	border: 1px solid black;
	background: #B5B5B5;
}
hr {
display: none;
/*	background: url(images/hr.png) no-repeat center;
	height: 28px;
	border:none !important;
   -moz-background-size: 100%; 
   -webkit-background-size: 100%; 
   -o-background-size: 100%; 
   background-size: 100%; */
}
table.zmview{
	border-collapse: collapse;
/*	border: 1px solid gray;*/
}
.zmview td{
	border: 1px solid #c5c5c5;
	font: 12px;
	background: white; /*#FFFAF0;*/
}
.zmview th{
	border: 1px solid white;
	background: #a7c2f4;
  /*  background: -moz-linear-gradient(bottom, black 0%, black 50%, black 51%,#f2f2f2 100%);
    background: -webkit-linear-gradient(bottom, black 0%,black 50%,black 51%,#f2f2f2 100%);
    background: -o-linear-gradient(bottom, black 0%,black 50%,black1 51%,#f2f2f2 100%);
    background: -ms-linear-gradient(bottom, black 0%,black 50%,black 51%,#f2f2f2 100%);
    background: linear-gradient(bottom, black 0%,black 50%,black 51%,#f2f2f2 100%);*/
	color: black;
}
.zmview tr.alt td {
    background: #f0f0f0;
}
.zmview tr.over td {
background: #ffe860;
    }
table.view2{
	border-collapse: collapse;
	border: 1px solid gray;
}
.view2 td{
	border: 1px solid gray;
	background-color: #FFFAF0;
	font: 14px;
}
.view2 th{
	border: 1px solid black;
	background-color: #B5B5B5;
}
td.men{
	width: 160px;
	vertical-align: top;
}
td.fn{
	vertical-align: top;
}
.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}
.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}
.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}
.ac_results li {
	position:relative;
    margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}
.ac_loading {
	background : Window url('gif/indicator.gif') right center no-repeat;
}
.ac_over {
	background-color: Highlight;
	color: HighlightText;
}
#zapol {
  top:10px;
  width:100px;
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
#zapoly {
  top:10px;
  width:100px;
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
.qnt {
  position:absolute;
  top:2px;
  right:10px;
  font-size:0.8em;
 // color:#26A908;
}
select.sel_ad{
  width: 200px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 10pt;
  color: #000;
}
#add_nas_punkt{
	position: absolute;
	background-color: #ffee8c;
	left: 840px;
	top: 90px;
	width: 250px;
	height: 200px;
	border: 1px solid #999999;
	padding: 8px 25px;
	font: 12px;
	display: none;
}
#add_vul{
	position: absolute;
	background-color: #ffee8c;
	left: 840px;
	top: 90px;
	width: 250px;
	height: 250px;
	border: 1px solid #999999;
	padding: 8px 25px;
	font: 12px;
	display: none;
}
#zal a{
	display:block;
	text-decoration: none;
	color: black;
	padding: 0px 5px 0px 5px;
}
td#zal a:hover{
	display:block;
	background: #c1c1c1;
	padding: 0px 5px 0px 5px;
	background-repeat:repeat;
}
.gran{
	vertical-align: top;
	//background: #FFFFFF; //ButtonFace;
	//opacity: 0.6;
}